# ======================
# ASP.NET
# ======================
bin/
obj/
*.user
*.suo
*.cache
*.log

# ======================
# Visual Studio
# ======================
.vs/
*.dbmdl

# ======================
# React
# ======================
node_modules/
build/
dist/

# ======================
# Environment
# ======================
.env

# ======================
# OS
# ======================
.DS_Store
Thumbs.db